#navbar-input{
    background-color: #524F4F;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    color:white
}

#navbar-input:hover {
    background-color: #FF7C03;
}

#navbar-input:active {
    background-color: lightgreen;
}

#navbar-subinput{
    color: black;
}

#images {
    max-width: 100%;
    height: auto;
  }