#side-left{
    background-color: #ffffff
}

#alert{
        width: 220px; /* Ajusta el ancho según sea necesario */
        height: 180px; /* Ajusta la altura según sea necesario */
        background-color: #FF7C03; /* Color de fondo de la alerta */
        color: black; /* Color del texto */
        border-radius: 50%; /* Convierte en una forma circular */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; /* Alinea el texto al centro */
        line-height: 15px; /* Ajusta el espacio para centrar el texto horizontalmente */
        font-size: 15px;
        box-shadow: 0 0 0 3px #524F4F;
        font-weight: bolder;
        cursor: pointer;
        position: relative;
        animation: bounce 1s infinite alternate, glow 2s infinite;
        transition: transform 0.2s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes glow {
    0%, 100% {
      box-shadow: 0 0 10px rgba(255, 201, 7, 0.8);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 201, 7, 0.8);
    }
  }

#wallets{
    height: 20vh;
    width: 25vh;
    box-shadow: #524F4F;
    border-width: 10px;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

#wallets:hover {
  transform: translateX(20px) translateY(20px); /* Mueve la imagen 20px hacia la derecha y abajo al pasar el cursor sobre ella */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}

#gif{
    height: 132vh;
    width: 102vh;
}

#heading3{
    background-color: whitesmoke;
}

#wallet-left{
    margin-left: 20vh;
}
