#side-left{
    background-color: whitesmoke
}

#alert{
        width: 180px; /* Ajusta el ancho según sea necesario */
        height: 130px; /* Ajusta la altura según sea necesario */
        background-color: orangered; /* Color de fondo de la alerta */
        color: black; /* Color del texto */
        border-radius: 50%; /* Convierte en una forma circular */
        text-align: center; /* Centra el texto verticalmente */
        line-height: 110px; /* Ajusta el espacio para centrar el texto horizontalmente */
        font-size: 20px;
        box-shadow: 0 0 0 3px black;
        font-weight: bolder;
        cursor: pointer;
        position: relative;
        animation: bounce 1s infinite alternate, glow 2s infinite;
        transition: transform 0.2s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes glow {
    0%, 100% {
      box-shadow: 0 0 10px rgba(255, 201, 7, 0.8);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 201, 7, 0.8);
    }
  }

#wallets{
    height: 20vh;
    width: 25vh;
    box-shadow: 0 0 0 3px orangered;
    border-width: 10px;
    background-color: white;
    transition: opacity 0.3s ease-in-out;
}

.opacable:hover {
    opacity: 0.7; /* Cambia este valor para ajustar la opacidad al pasar el cursor */
  }

#gif{
    height: 132vh;
    width: 102vh;
}

#heading3{
    background-color: whitesmoke;
}

#wallet-left{
    margin-left: 20vh;
}