#side-left{
    background-color: gray;
}

#alert{
        width: 200px; /* Ajusta el ancho según sea necesario */
        height: 200px; /* Ajusta la altura según sea necesario */
        background-color: orangered; /* Color de fondo de la alerta */
        color: white; /* Color del texto */
        border-radius: 50%; /* Convierte en una forma circular */
        text-align: center; /* Centra el texto verticalmente */
        line-height: 180px; /* Ajusta el espacio para centrar el texto horizontalmente */
        font-size: 20px;
        border-color: black;
}

#wallets{
    height: 25vh;
    width: 30vh;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5)
}

#gif{
    height: 121vh;
    width: 100vh;
}